<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h" href="<%= root_path %>"><img src="http://www2.mes-coloriages-preferes.biz/colorino/Images/Large/Animaux-Chat-20560.png" width="90" height="90" alt=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
            <li class="nav-item active"><a class="nav-link" href="<%= root_path %>">Home</a></li>
            <li class="nav-item submenu dropdown">
              <ul class="dropdown-menu">
                <% if current_user%>
                <li class="nav-item"><%= link_to "my cart", carts_path(current_user.cart), :class =>'nav-link' %></li>
                <% end %>
              </ul>
            </li>
            </li>
            
             <% if current_user == nil %>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Login/Registration</a>
              <ul class="dropdown-menu">
                  <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: "nav-link"  %></li>
                  <li class="nav-item"><%= link_to 'registration', new_user_registration_path, class: "nav-link" %></li>
              </ul>
            </li>
            <% else %>
            <li class="nav-item"><%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %></li>
            <li class="nav-item"><a class="nav-link" href="<%= show_user_path(current_user) %>">Account</a></li>
            <% end %>
          </ul>

          <ul class="nav-shop">
              <button type="button" class="btn" style="background-color: #CE7AAD">Cart<span class="pl-2 fas fa-shopping-basket"></span></button>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
